<% if (locals.post) { %>
     
<body id="body">
<div class="contianer d-flex flex-wrap justify-content-center align-items-center my-2 py-2 g-3" style="height: 100%; width: 50%; margin-left: 400px">
    <h1 class="mt-4 d-flex justify-content-center"> <%= heading %> </h1>
          <div class="col-12">
              <label for="author_name" class="form-label">Author Name</label>
              <input type="text" class="form-control" id="author" name="author" value="<%=post.author%>" placeholder="Stephen King" value="" required="" fdprocessedid="aoy73s">
        <div class="invalid-feedback">
          Valid author name is required.
        </div>
      </div>



      <div class="col-12">
        <label for="address" class="form-label">Post Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter Post title" value="<%= post.title %>" required="" fdprocessedid="1i6nhh">
        <div class="invalid-feedback">
          Please enter your Post title.
        </div>
      </div>

      

      <div class="col-12">
          <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Enter Post content</label>
              <textarea class="form-control" id='content' name="content" value="<%= post.content %>" placeholder="Enter Post content" rows="3"><%= post.content %></textarea>
            </div>
          </div>
          <div class="col-12 submit">
            <div class="mb-3 d-flex align-items-center justify-content-center">
                <input type="submit" class="btn" id="submit2" name="submit" placeholder="Enter Post content" value="submit" />
              </div>
        </div>
  </form>
</body>
  <% } else {%>
   
<body id="body">

  <div class="contianer d-flex flex-wrap justify-content-center align-items-center my-2 py-2 g-3" style="height: 100%; width: 50%; margin-left: 400px">
    <h1 class="mt-4 d-flex justify-content-center"> <%= heading %> </h1>
          <div class="col-12">
              <label for="author_name" class="form-label">Author Name</label>
              <input type="text" class="form-control" id="author" name="author" placeholder="Stephen King" value="" required="" fdprocessedid="aoy73s">
        <div class="invalid-feedback">
          Valid author name is required.
        </div>
      </div>



      <div class="col-12">
        <label for="address" class="form-label">Post Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter Post title" required="" fdprocessedid="1i6nhh">
        <div class="invalid-feedback">
          Please enter your Post title.
        </div>
      </div>

      

      <div class="col-12">
          <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Enter Post content</label>
              <textarea class="form-control" id='content' name="content" placeholder="Enter Post content" rows="3"></textarea>
            </div>
          </div>
          <div class="col-12 submit">
            <div class="mb-3 d-flex align-items-center justify-content-center">
                <input type="submit" class="btn" id="submit2" name="submit" placeholder="Enter Post content" value="submit" />
              </div>
        </div>
  </form>
    </div>
</body>
    <% } %>
