<%- include('partials/header.ejs') %>
<body class="container" id="body">
    <% if(posts.length === 0) { %>
        <div class="container d-flex mt-5 mb-5 align-items-center justify-content-center">
            <h1>No Posts Found.</h1>
        </div>
    <% } else { %>
        <% posts.forEach(Post => { %>
            <div class="container d-flex flex-row mt-5 mb-5 justify-content-center">
                <div class="container card" style="width: 80%">
                    <div class="card-body">
                        <h5 class="container card-title"><%= Post.title %> by <%= Post.author %></h5>
                        <h6 class="container card-subtitle mb-2 text-muted"><%= Post.caption %></h6>
                        <p class="container card-text"><%= Post.content %></p>
                        <div class="container d-flex justify-content-between mt-2">
                            <a class="btn btn-primary edit-button" href="/posts/<%= Post.id %>">Edit</a>
                            <a class="btn btn-danger delete-button" href="/api/delete/<%= Post.id %>">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    <% } %>

    <script>
        const deleteUser = (title) => {
            if (confirm(`Are you sure you want to delete the Post titled "${title}"?`)) {
                fetch(`/Posts/${title}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    const PostElement = document.querySelector(`[data-title="${title}"]`);
                    if (PostElement && PostElement.parentNode) {
                        PostElement.parentNode.parentNode.parentNode.remove();
                    } else {
                        console.error(`No element found with data-title="${title}"`);
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        };
    </script>
</body>
<%- include('partials/footer.ejs') %>
